<!DOCTYPE html>
<html lang="en">
<head>
    <title>DPS</title>
    <style>
        body { font-family: Arial, sans-serif; }
    </style>
</head>
<body>
@Body
</body>
</html>

@code {
    [Parameter] public RenderFragment Body { get; set; }
}