<BaseTemplate>
    <Body>
    <h1>Reset password</h1>
    <p>Follow the following link to reset your account:</p>
    <a href="@ResetPasswordUrl">Reset Password</a>
    </Body>
</BaseTemplate>

@code {
    [Parameter] public string ResetPasswordUrl { get; set; }
}